In [8]:
import pandas as pd

In [9]:
#importando as bases de dados
vendas_df = pd.read_csv(r'Contoso - Vendas - 2017.csv', sep=';')
lojas_df = pd.read_csv(r'Contoso - Lojas.csv', sep=';')
clientes_df = pd.read_csv(r'Contoso - Clientes.csv', sep=';')
produtos_df = pd.read_csv(r'Contoso - Cadastro Produtos.csv', sep=';')

#limpando colunas
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
produtos_df = produtos_df[['ID Produto', 'Nome do Produto']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

#mesclando as colunas
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')
vendas_df = vendas_df.merge(clientes_df, on='ID Cliente').rename(columns={'E-mail': 'E-mail Cliente'})
#Extraindo o dia, mês e o dia de uma data
vendas_df['Data da Venda'] = pd.to_datetime(vendas_df['Data da Venda'], format='%d/%m/%Y')
vendas_df['Ano da Venda'] = vendas_df['Data da Venda'].dt.year
vendas_df['Mês da Venda'] = vendas_df['Data da Venda'].dt.month
vendas_df['Dia da Venda'] = vendas_df['Data da Venda'].dt.day
display(vendas_df)
vendas_df.info()

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome do Produto,Nome da Loja,E-mail Cliente,Ano da Venda,Mês da Venda,Dia da Venda
0,1,2017-01-01,02/01/2017,1,86,981,2,6825,9,1,A. Datum Advanced Digital Camera M300 Pink,Loja Contoso Austin,rbrumfieldmy@ameblo.jp,2017,1,1
1,880458,2017-11-23,23/11/2017,0,306,235,10,6825,8,0,Litware Home Theater System 7.1 Channel M710 B...,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp,2017,11,23
2,191019,2017-03-20,21/03/2017,1,172,376,2,6825,9,0,Adventure Works Laptop12 M1201 Silver,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp,2017,3,20
3,18610,2017-01-08,10/01/2017,2,200,448,2,6825,48,0,WWI Desktop PC1.80 E1801 Black,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp,2017,1,8
4,287704,2017-04-23,26/04/2017,3,76,280,1,6825,10,0,Contoso Home Theater System 2.1 Channel M1210 ...,Loja Contoso Beaumont No.1,rbrumfieldmy@ameblo.jp,2017,4,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980637,878244,2017-11-23,23/11/2017,0,110,889,4,347,12,1,Contoso Bluetooth Notebook Mouse E70 Silver,Loja Contoso Orlando,edowner9m@imdb.com,2017,11,23
980638,920243,2017-12-09,10/12/2017,1,261,1367,5,38781,13,0,Contoso Expandable 3-Handset Cordless Phone Sy...,Loja Contoso Damascus No.1,ruben31@adventure-works.com,2017,12,9
980639,467482,2017-06-21,25/06/2017,4,115,269,1,553,10,0,Contoso Home Theater System 4.1 Channel M1400 ...,Loja Contoso New York No.1,akuhnertfc@themeforest.net,2017,6,21
980640,853643,2017-11-13,20/11/2017,7,115,809,4,38860,6,0,Contoso Dual USB Power Adapter - power adapter...,Loja Contoso New York No.1,anne5@adventure-works.com,2017,11,13
980641,903958,2017-12-02,02/12/2017,0,222,1435,10,815,8,0,The Phone Company Touch Screen Phones SAW/On-w...,Loja Contoso Roma,ekorneevmm@instagram.com,2017,12,2

<class 'pandas.core.frame.DataFrame'>
Int64Index: 980642 entries, 0 to 980641
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Numero da Venda       980642 non-null  int64
 1   Data da Venda         980642 non-null  datetime64[ns]
 2   Data do Envio         980642 non-null  object
 3   ID Canal              980642 non-null  int64
 4   ID Loja               980642 non-null  int64
 5   ID Produto            980642 non-null  int64
 6   ID Promocao           980642 non-null  int64
 7   ID Cliente            980642 non-null  int64
 8   Quantidade Vendida    980642 non-null  int64
 9   Quantidade Devolvida  980642 non-null  int64
 10  Nome do Produto       980642 non-null  object
 11  Nome da Loja          980642 non-null  object
 12  E-mail Cliente        980642 non-null  object
 13  Ano da Venda          980642 non-null  int64
 14  Mês da Venda          980642 non-null  int64
 15  Dia da Venda          980642 non-null  int64
dtypes: datetime64[ns](1), int64(11), object(4)
memory usage: 127.2+ MB

In [10]:
#criando um arquivo Csv
vendas_df.to_csv(r'Novo Vendas 2017.csv', sep=';')

In [16]:
#transformando um dicionário em dataframe
produtos = {'Produto': ['Iphone', 'Samsung', 'Xiaomi', 'Fone JBL500', 'Fone Philips E50', 'Motorola Edge', 'Moto G 10'], 
                   'Estoque': [12, 13,14,22,18,20,45]}

In [17]:
produtos_df = pd.DataFrame.from_dict(produtos)
display(produtos_df)

            Produto  Estoque
0            Iphone       12
1           Samsung       13
2            Xiaomi       14
3       Fone JBL500       22
4  Fone Philips E50       18
5     Motorola Edge       20
6         Moto G 10       45

In [24]:
vendas_produtos = {'Iphone': [21, 52], 'Samsung': [13, 36], 'Motorola': [44, 53], 'Fone JBL500': [42, 80], 'Câmera Canon': [44, 82],
                  }
vendas_produtos_df = pd.DataFrame.from_dict(vendas_produtos, orient='index')

vendas_produtos_df = vendas_produtos_df.rename(columns={0: 'Vendas 2020', 1: 'Vendas 2021'})
display(vendas_produtos_df)

              Vendas 2020  Vendas 2021
Iphone                 21           52
Samsung                13           36
Motorola               44           53
Fone JBL500            42           80
Câmera Canon           44           82

In [26]:
vendas_produtos_df.to_csv(r'Novo Vendas 2020 2021.csv', sep=';', encoding='latin1')